*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
     width: 100%;
    /* overflow-x: hidden; */
}
header{
    margin-top:0%;
    width: 100%;
    height: 70px;
    background-color:white;
    position: relative;
    position: fixed;
    z-index: 2;
}
nav{
    margin-top: 0%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    height: 4.5rem;
    /* background-color: aqua; */
    padding: 1.5rem;

}
nav.activeNav{
    box-shadow: 0px 2px 17px rgb(0,0,0,0.12);
    padding-left: 120px;
    padding-right: 120px;
}
div.logo img{
    width: 11rem;
    height: 7rem;
    cursor: pointer;
}
nav svg{
    cursor: pointer;
    /* margin-right: 15px; */
}

div.navbar-btn-icons{
    display:flex;
    height: 100%;
    border: none;
    justify-content:center;
    align-items: center;
    text-transform:capitalize;
    margin-right:50px;
   
}
button.btn-login,.btn-signup{
    width: 4.5rem;
    height: 2rem;
    font-weight: 700;
    background-color: transparent;
    border: 1px solid #39434D;
    border-radius: 7px;
    margin-right: 20px;
    color:#39434D;
    cursor: pointer;
    transform: scale(1.0);
    transition: all 0.3s ease;
}
button.btn-login:hover{
    transform: scale(1.1);
}
button.btn-signup:hover{
    transform: scale(1.1);
}
.btn-signup{
    width: 5.5rem;
    background-color: #e21b70;
    border: none;
    color: white;
}
.after-btn-icons{
   background-color:white;
   display: flex;
   margin-left: 0;
   align-items: center;
   transform: scale(1.0);
}
.after-btn-icons:hover{
    transform: scale(1.1);
    background-color: #ece9e9;
    border-radius: 7px;
    
}
.fl-none-mart{
    margin-left: 20px; 
    color: #6d6b6b;
    border-radius: 50%;
    z-index: 1;
    /* background-color: aqua; */
}
.fl-none-mart:hover{
    border:20px solid  #ece9e9;
    color: #000;
    background-color: #ece9e9 ;
     
} 

main{
    width: 100%;
    position: absolute;
    bottom:-5;
}


/* hero section */

section.hero-section{
    width: 100%;
    padding: 3rem ;
    height:650px;
    margin: 20px 0px;
    background-color:#f7f7f7 ;
    border: 2px solid #f7f7f7;
    position: relative;
    
}
.hero-section .bg-wraper{
    width: 41.5%;
    height: 100%;
    max-height: 600px;
    position: absolute;
    bottom: 0;
    right: 0;
    /* margin-left: 53%; */
    border: 2px soli transparent;
    background: url('./images/foodpanda-home.webp');
    background-size: cover;
    z-index: 1;
    float: right;
}
.hero-section > h3{
   font-size: 2.7rem;
   font-weight: 700;
   margin-top: 12rem;
   margin-left:5rem;
   min-width: 230px;
   width: 100%;
   color: #333333;
}
.hero-section .activ{
    margin-top: 2rem;
    margin-left:5rem;
    width: 52%;
    height: 5rem;
    padding: 10px ;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow:0px 1px 15px rgb(0,0,0,0.1); ;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.activ input{
    width: 84.5%;
    height: 2rem;
    margin: 5px;
    padding: 1.5rem 1rem;
    border-radius: 10px;
    outline: none;
    border: 1px solid #ddd9d9;
    color: #333333;
    font-size: 1rem;
}
.activ input::placeholder{
    color: #5e5d5d;
}
.activ .input-container svg {
    position: absolute;
    top: 25px ;
    right: 28% ;
}
.activ .input-container span {
    position: absolute;
    right: 18%;
    top: 30px;
    /* margin-top: 15px;
    margin-left: 530px; */
    letter-spacing: 1px;
    font-size: 14px;
    cursor: pointer;
}
.input-container span:hover{
    color: #e21b70;
}
.activ button{
    background-color: #e21b70;
    color: #ddd9d9;
    border:none;
    width: 6rem;
    height: 3rem;
    border-radius: 10px;
    padding:5px 5px;
    margin-left: 5px;
    font-weight: 700;
    font-size: 15px;
    transform: scale(1.0);
    transition: all 0.3s ease;
}
.activ button:hover{
    transform: scale(1.1);
    background-color: #990f4b;
}
@media screen and (min-width:959px){
    nav svg.profile-icon-medium{
        display: none;
    }
   
}
/* partners */
section.prepare-the-food {
    width: 100%;
    border: 2px solid transparent;
    margin: 5rem 0;
}
section.prepare-the-food .partner{
    padding-left: 8%;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 800;
    color: #000;
}
.prepare-the-food .bg-image{
    background: url('./images/home-vendor-after-hero-section.webp');
    min-height: 400px;
    height:540;
    width: 100%;
    background-size: cover;
    background-position-x: 50%;
    background-position-y:center ;
}
.prepare-the-food .content{
    padding-left: 7.5rem;
}
.prepare-the-food .header-list{
    border: 1px solid white;
    box-shadow:0px 2px 15px rgb(0,0,0,0.1); ;
    border-radius: 15px;
    margin: 0 1rem;
    margin-top: -10rem;
    padding: 2rem 1.5rem;
    height:22rem;
    width: 45%;
    line-height: 25px;
    background-color: white;
    color: #333333;
}
.content .list-item{
    font-size: 24px;
    font-weight:600;
    color:#000;
    word-spacing: 2px;
    margin-bottom: 1rem;

}
.content p{
    padding-bottom: 20px;
    font-size:16px;
    word-spacing: 2px;
    padding-left: 4px;
}
.content button{
    background-color: #e21b70;
    color:white;
    width: 7rem;
    margin-top: 5px;
    height:46px;
    border: none;
    border-radius: 9px;
    font-weight: bold;
    transform: scale(1.0);
    transition: all 0.3s ease;
}
.content button:hover{
  transform: scale(1.1);
} 

/* Cities   */

section .cities{
    width: 100%;
    margin-top: 2rem;
}
section .caption-heading{
    width: 100%;
    padding-left:11%;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 800;
    color: #333;
}
.cities .container{
   width: 100%;

}
.container .row{
    display:flex;
    margin: 0% 10%;
    /* margin-left:80px;
    padding-left: 50px; */
    
}
.container .card{
    height:243px;
    min-width:300px;
    max-width:300px;
    margin-right: 1.5rem;
    margin-top: 1rem;
    border:2px solid transparent;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.container .card img{
    width: 100%;
    height: 100%;
    transform: scale(1.0);
    transition: all 0.3s ease;
}
.card img:hover{
    transform: scale(1.1);
    
}
.card p{
  position: absolute;
  bottom: 5px;
  left: 8px;
  background-color:white;
  font-size: 16px;
  font-weight:600;
  color: #333;
  border:15px solid white;
  border-radius: 10px;
}

/* app */

section.App{
    width: 100%;
    height: 500px;
    margin-top: 6em;
    /* background-color: aqua; */
}
.App .main-container{
    background-color:#e21b70;
    border: 2px solid #e21b70;
    border-radius: 15px;
    width: 78%;
    height: 67%;
    margin-left: 10%;
    margin-top:35px;
    position: relative;
}
.main-container .image-container{
    width: 100%;
    height:auto;
}
.image-container img{
    width:50%;
    height: auto;
    position: absolute;
    right: 0;
    top: -96px;  
}
.main-container .contan-cintainer{
    width: 50%;
    margin: 30px;
   
}
.contan-cintainer .sub-heading{
    font-size: 24px;
    font-weight: 600;
    color: white;
    margin-top: 8%;
}
.contant-between{
    display: flex;
    width: 100%;
    margin-top: 30px;
}
.contant-between img {
    width: 14.5%;
    padding:8px;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
}
.contant-between .text{
    font-size: 16px;
    color: white;
    margin-left:25px;
    text-align:left;
    line-height: 25px;
}
.content-between .buttons-container {
    display: flex;
    justify-content: center;
  }
  
  .buttons-container .center-svg {
    margin: 0 1rem;
  }

  /* office */
 section.office {
    width: 100%;
    /* background-color: aqua; */
    border: 2px solid transparent;
    margin-top: 5rem 0;
}
section.office .partner{
    padding-left: 8%;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
    color: #000;
}
.office .bg-image-office{
    background: url('./images/home-corporate-pk.webp');
    min-height: 400px;
    height:540;
    width: 100%;
    background-size: cover;
    background-position-x: 50%;
    background-position-y:center ;
}
.office .content{
    padding-left: 7.5rem;
}
.office .header-list-office{
    border: 1px solid white;
    box-shadow:0px 2px 15px rgb(0,0,0,0.1); ;
    border-radius: 15px;
    margin: 0 1rem;
    margin-top: -7rem;
    padding: 2rem 1.5rem;
    height:15rem;
    width: 45%;
    line-height: 25px;
    background-color: white;
    color: #333333;
}
.content .list-item{
    font-size: 24px;
    font-weight:600;
    color:#000;
    word-spacing: 2px;
    margin-bottom: 1rem;

}
.content p{
    padding-bottom: 20px;
    font-size:16px;
    word-spacing: 2px;
    padding-left: 4px;
}
.content button{
    background-color: #e21b70;
    color:white;
    width: 7rem;
    margin-top: 5px;
    height:46px;
    border: none;
    border-radius: 9px;
    font-weight: bold;
    transform: scale(1.0);
    transition: all 0.3s ease;
}
.content button:hover{
  transform: scale(1.1);
} 


/* FAQ */
.FAQ{
    width: 100%;
    height: 100%;
    /* background-color: blue; */
}
.FAQ .main{
    width: 80%;
    margin-top: 4rem ;
    margin-left: 12rem;
    justify-content: center;
    /* background-color: aquamarine; */
}
.main .main-head{
    font-size: 32px;
    word-spacing: 4px;
    line-height:24px;
    color: #333333;
}
.main p{
    color:#6d6b6b;
    line-height: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
    vertical-align: baseline;
}
.main p a{
    color: #e21b70;
    font-weight: 600;
}
.main p a:hover{
    text-decoration: underline;

}
.main .list-item{
    list-style-type: disc;
    padding-top: 25px;
    padding-bottom:10px;
}
.list-item ul li{
    line-height: 25px;
    color: #5e5d5d;
    list-style: none;
}
.list-item ul li .arrow-sign{
   color: #e21b70;
}
.main h2{
    color: #333333;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main h3{
    
    color: #333333;
}
.main h4{
    margin-bottom: 170px;
}

/* footer */
footer{
    width: 100%;
    /* background-color: aqua; */
   
}
section.country-footer{
   width: 80%;
   margin: 2rem 9rem;
   justify-content: center;
   font-size: 18px;
   color: #333333;
   /* position: relative; */
}
.country-footer a{
    color: #5e5d5d;
    font-size: 18px;
    line-height: 32px;
    cursor: pointer;
}
.country-footer a:hover{
    color:#333;
}
.country-footer .othercountries p {
    padding-bottom: 30px;
    border-bottom: 1 px solid lightgray;
}
.country-footer .footer-contact{
    width:100%;
    height: 100%;
    border: 2px solid white;
    /* background-color: green; */
    /* display: flex; */
    
}
.footer-contact .center-section{
    width: 100%;
    height: 100%;
    /* background-color: purple; */
    margin-top: 0%;
}

.footer-contact table {
    /* background-color:rgb(233, 35, 35); */
    width: 80%;
    height: 500px;
    padding: 10px;
    margin-bottom: 50px;
    margin-left: 25%;
    /* position: absolute;
    top: 0; */
}
table td{
    /* background-color: purple; */
    padding-left: 10px;
    padding-top: 12px;
}
 .main-branding-head{
    width: 100%;
    height: 50px;
    /* background-color: #e21b70; */
    position: relative;
}
.main-branding-head .main-branding{
    /* background-color: purple; */
    width: 90%;
    height: 100px;
    margin-left: 7%;
}
.main-hero-delivery{
    /* background-color: white; */
     position: absolute;
     top: 30px;
     left: 20%;
}
.footer-branding__social-links{
    position: absolute;
     top: 30px;
     left: 90%; 
   
}
.footer-branding__social-links i{
    width: 50px;
    font-size: 30px;
    /* position: absolute; */
 
   
}


